body{
    width: 900px;
    height: auto;
    margin: 0 auto;
    background-image: url(../images/patron1.png), url(../images/patron2.png);
    background-color: #CAFACA;
}

header{
    width: 900px;
    height: 190px;
    color:white;
    background-image: url(../images/banner_header.jpeg) ;
    background-position: center;
    background-size: 100%;
}

nav{
    width: 900px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 5px;
}

nav ul li{
    display: inline;
    list-style-type: none;
    margin-right: 50px;
}

aside{
    width: 230px;
    background-color: #CECECE;
    height: 900px;
    float: left;
}

section{
    width:670px;
    height: auto;
    float: left;
    /* aquí nos chacaleamos el snippet para background gradiente */
    background: #efc5ca; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #efc5ca 0%, #d24b5a 50%, #ba2737 51%, #f18e99 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

article{
    height: 550px;
    width: 300px;
    background-color: rgba(255, 220, 80, 0.7);
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 15px 15px 20px black;
    transition: all 1.5s;
}

article:hover{
    border-radius: 80px 80px 10px 10px;
    box-shadow: -15px -15px 40px red;
    -webkit-transform: scale(1.1);
    -moz-transform: rotate(360deg);
}

footer{
    background-color: #FFF;
    border-radius: 25px 0px 45px 0px;
    width: 900px;
    height: 20px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    padding-bottom: 20px;
}

@font-face{
    font-family: miFuente1;
    src: url(../fonts/font1.ttf);
}

@font-face{
    font-family: miFuente3;
    src: url(../fonts/font3.ttf);
}

@font-face{
    font-family: miFuente4;
    src: url(../fonts/font4.ttf);
}

@font-face{
    font-family: miFuente2;
    src: url(../fonts/font2.ttf);
}

h1{
    font-family: miFuente1;
    text-shadow: 5px 7px 10px black;
    font-size: 4.375em;
}

h2{
    font-family: miFuente2;
}

h3{
    font-family: miFuente3;
}

h4, p{
    font-family: miFuente4;
}

#videoMask{
    /* mask:url(../images/text.svg);
    -webkit-mask:url(../images/text.svg);
    -moz-mask:url(../images/text.svg); */
    mask:url(../images/elipse.svg);
    -webkit-mask:url(../images/elipse.svg);
    -moz-mask:url(../images/elipse.svg);
}

#cuadroAnimado{
    width: 150px;
    height: 150px;
    background-color: blue;
    position: relative;
    animation: miAnimacion 15s;
    -moz-animation: miAnimacion 15s;
    -webkit-animation: miAnimacion 15s;
}

@-webkit-keyframes miAnimacion{
    0%{
        background-color:blue;
        left:0px;
        top:0px;
    }
    15%{
        background-color:red;
        left:250px;
        top:0px;
    }
    45%{
        background-color:yellow;
        left:280px;
        top:400px;
    }
    70%{
        background-color:green;
        transform:rotate(-360deg);
    }
    100%{
        background-color:blue;
        left:0px;
        top:0px;
        transform:skewX(50deg);
    }
}

@-moz-keyframes miAnimacion{
    0%{
        color:blue;
        left:0px;
        top:0px;
    }
    15%{
        color:red;
        left:250px;
        top:0px;
    }
    45%{
        color:yellow;
        left:280px;
        top:400px;
    }
    70%{
        color:green;
        transform:scale(1.5);
    }
    100%{
        color:blue;
        left:0px;
        top:0px;
        box-shadow: 30px 30px 10px red;
    }
}